{% extends 'core/base.html' %} {% block content %}
<div class="container text-center pt-4">
  {% if user.is_authenticated %}
  <h1>Hello, {{ user }}</h1>
  <h3>Today is {% now "d M Y" %}</h3>
  <br />
  <h3>This week's tasks</h3>
  {% for todo in todos %}
  <div class="container pt-4">
    <div class="card">
      <h5 class="card-header">{{ record.full_name }}</h5>
      <div class="card-body">
        <h5 class="card-title">{{ todo.todos }}</h5>
        <p class="card-text">Due date: {{ todo.due_date }}</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <h1>Custom CRM</h1>
  {% endif %}
</div>

{% endblock content %}
