{% extends 'core/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="container pt-4">
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Biz Name</th>
            <th scope="col">Address</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Category</th>
            <th scope="col">Todo's</th>
            <th scope="col">Due date</th>
          </tr>
        </thead>
        <tbody>
            {% if records %}
            {% for record in records %}
          <tr>
            <td><a href="{% url 'client' record.id %}">{{ record.id }}</a></td>
            <td>{{ record.full_name }}</td>
            <td>{{ record.biz_name }}</td>
            <td>{{ record.address}}</td>
            <td>{{ record.email }}</td>
            <td>{{ record.phone }}</td>
            <td>{{ record.category }}</td>
            {% if record.todos %}
              <td>{{ record.todos }}</td>
              {% if record.due_date %}
              <td>{{ record.due_date }}</td>
              {% else %}
              <td></td>
              {% endif %}
            {% else %}
              <td></td>
            {% endif %}
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
  </div>
  {% endif %}



{% endblock content %}