{% extends 'core/base.html' %}
{% block content %}
<div class="container pt-4 text-center">
    {% if user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <br>
    <a href="{% url 'record' %}" class="btn btn-secondary">Back</a>
    <a href="{% url 'delete_client' current_record.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
</div>
    
{% endblock content %}